.feature-container {
  display: block;
  max-width: 530px;
  justify-content: center;
  margin-left: 650px;
  margin-top: 20px;
  border: 2px solid rgb(126, 126, 46);
  padding: 15px;
  border-radius: 12px;
}
.feature-item {
  display: flex;
  border-bottom: 1px solid rgb(126, 126, 46);
}
.feature-icon {
  margin-top: 20px;
  margin-right: 10px;
}
.feature-desc {
  margin-top: -14px;
}
.feature-item:last-child {
  border-bottom: none;
}
