.header-wrapper {
  width: 100%;
  background-color: #1e3a8a; /* Màu nền xanh của bạn */
  position: sticky;
  top: 0;
  z-index: 1000;
}
.phandau {
  display: flex;
  background-color: #243a6e;
  margin-top: -10px;
}
.menu-list {
  display: flex;
}
.phandau img {
  margin-left: 300px;
  width: 150px;
  height: 70px;
  margin-top: 10px;
}
.menu-list li {
  padding: 20px;
  list-style: none;
  margin-top: -20px;
}
.header-action {
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px;
}
.menu-list li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}
.menu2 a {
  color: aliceblue;
  text-decoration: none;
}
.menu2 {
  display: flex;
}
.menu2 li {
  list-style: none;
  padding: 20px;
  margin-top: -30px;
  font-size: 20px;
}
.btn-inbox {
  padding: 15px;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(135deg, #7b2d8e 0%, #ab1d85 100%);
  color: aliceblue;
  border: none;
}
