.mt_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mt_container img {
  height: 500px;
  border-radius: 50px;
}
.title {
  font-size: 30px;
  font-weight: 700;
  color: #1e3a8a;
  letter-spacing: 0.5px;
  margin-left: -30px;
}
.title2 {
  font-size: 52px;
  font-weight: 900;
  color: #1e3a8a;
  margin: 0 0 16px 0;
  line-height: 1;
  margin-left: -30px;
}
.title3 {
  font-size: 23px;
  font-weight: 600;
  color: #1e3a8a;
  margin: 0 0 24px 0;
  margin-left: -30px;
}
.p2 {
  margin-left: 40px;
  width: 480px;
}
.p3 {
  display: flex;
  margin-bottom: 30px;
}
.d2 {
  position: absolute;
  left: 960px;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 20px;
}
.d3 {
  position: relative;
  margin-left: 30px;
}
.d31 {
  width: 450px;
  font-size: 16px;
  font-weight: bold;
}
.d32 {
  width: 450px;
}
